{% extends "indexpages.html" %}

{% block page %}

<div class="m-4">
    
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-">
            {% for dish in dishes %}   
            
            
                <div class="p-3 border bg-light">
                    <form action="dish.php" method="GET">
                    <p> {{dish.name}}</p>
                    <input type = 'hidden' name = 'id' value = '{{dish.id}}'>
                    <a href="dish.php?id={{dish.id}}">
                    <img src="/images/{{dish.photo}}"class="img-fluid">
                        </a>
                    <p>Price {{ dish.price }} Rub</p>

                    <button type="submit" class="btn btn-primary">Купить</button>
                    </form>
                </div>   
            
            {% endfor %}
        </div>
    </div>

</div>


{% endblock %}